body {
    font-family: "Poppins", sans-serif;
    background-color: #FFFDF5;
  
}
.navbar {
    background-color: #FFFDF5;
}
.navbar-brand img {
    height: 40px;
}
.hero-img{
    width: 400px;
    height: 200px;
}
.nav-link {
    color: #000 !important;
    font-weight: bold;
}
.btn-chat {
    background-color: #FFFDF5;
    color: #000;
    border: 2px solid #000;
    font-weight: bold;
}
.btn-signin {
    background-color: #000;
    color: #FFFDF5;
    font-weight: bold;
}
.hero-text {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.Dallas{
    color: #FFD700;
}
.car-info-title{
    background: #000;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.card{
    border: none;
}
.bg-img-one{
    background-image: url('/asset/images/Theme/Home-IMG-02.png'); /* path to your image */
    background-size: contain; /* change this to 'contain', 'cover', or specific dimensions */
    background-position: top left; /* change this to desired position (e.g., 'top', 'bottom', 'left', 'right', or specific coordinates) */
    background-repeat: no-repeat; /
}
.hero-subtext {
    font-size: 1.5rem;
    font-weight: bold;    
}
.form-control {
    background-color: #FFD700;
    border: none;
    color: #000;
}
.btn-offer {
    background-color: #000;
    color: #FFFDF5;
    font-weight: bold;
}

@media (max-width: 768px) {
    .bg-img-one {
        background-image: none; /* Remove background image */
    }
}